@import "font-awesome/css/font-awesome.min.css";
.nav-bar a {
  color: aliceblue;
}

.footer-left {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.social-media-icons {
  display: flex;
  gap: 16px;
}

.footer-right {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 16px;
}

.footer-right a {
  color: aliceblue;
}
